body{
    padding: 20px;
    background: url(back.jpeg) no-repeat fixed;
    background-size: cover;
}
.panel-body {
    padding: 15px;
    background-color: powderblue;
}
.row {

    width: 80%;
    margin: auto;
}
.text-muted {
    font-size: 5rem;
    color: white;
}